hr {
  border-color: grey;
}
#portfolio {
  padding-top: 20px;
  padding-bottom: 20px;
}
.card_area {
  padding-top: 12px;
  width: 18rem;
}
.card-body {
  padding-bottom: 20px;
  padding-top: 0px;
  padding-left: 21px;
  padding-right: 39px;
}
