#skills {
  padding-top: 20px;
  padding-bottom: 20px;
}
#tools {
  padding-top: 20px;
}
#javascript {
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}
#html {
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}
#css {
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}
#reactjs {
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}
#nodejs {
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}
#materialui {
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}
#bootstrap {
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}
#visualstudio {
  font-size: 18px;
  text-align: center;
}
