#copyright {
  font-size: 20px;
  padding-bottom: 10px;
}
.icons {
  margin-left: 400px;
}
#footer_color {
  background-color: #2c393f;
}
#copyright {
  font-size: 18px;
}
.footer {
  padding-top: 25px;
}
#linkedin {
  padding: 8px;
}
#github {
  padding: 8px;
}
#gmail {
  padding: 8px;
}
