#portfolio {
  padding-top: 20px;
  padding-bottom: 20px;
}
#portfolio_section {
  color: #00c7c7;
  padding-bottom: 15px;
}
/* #portfolio_card {
    background-color: #00c7c7;
} */
#github_link {
  color: white;
}
#deployed_link {
  color: white;
}
/* #portfolio_buttons {
  background-color: #2c393f;
} */
#portfolio_card {
  padding-left: 15px;
  padding-right: 15px;
}
#posme_card {
  background-color: #00c7c7;
}
#office_card {
  background-color: #00c7c7;
}
#p3_card {
  background-color: #00c7c7;
}
